target/
!.mvn/wrapper/maven-wrapper.jar

src/main/resources/application-local.yml

.env
.env.*
*.env

.idea/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml

.classpath
.project
.settings/
.sts4-cache/
.springBeans
.factorypath

.vscode/

.DS_Store
Thumbs.db
desktop.ini

*.log
logs/
spring.log
